<table class="tx-sponsoring">
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.name"/>
    </td>
    <td>
      {project.name}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.number"/>
    </td>
    <td>
      {project.number}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.contact_person"/>
    </td>
    <td>
      {project.contactPerson}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.telephone"/>
    </td>
    <td>
      {project.telephone}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.email"/>
    </td>
    <td>
      {project.email}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.organizer"/>
    </td>
    <td>
      {project.organizer}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.application_deadline"/>
    </td>
    <td>
      {project.applicationDeadline -> f:format.date()}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.promotion"/>
    </td>
    <td>
      {project.promotion}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.promotion_type"/>
    </td>
    <td>
      {project.promotionType}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.promotion_value"/>
    </td>
    <td>
      {project.promotionValue}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.images"/>
    </td>
    <td>
      <f:image src="{project.images.originalResource.publicUrl}" width="200"/>
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_sponsoring_domain_model_project.description"/>
    </td>
    <td>
      {project.description}
    </td>
  </tr>
</table>
